
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress

# BEGIN CORS
<IfModule mod_headers.c>
    # Enable CORS
    Header set Access-Control-Allow-Origin "https://www.inolib.fr"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header set Access-Control-Allow-Headers "Origin, Content-Type, Accept, Authorization"
    Header set Access-Control-Allow-Credentials "true"

    # Handle preflight requests
    <If "%{REQUEST_METHOD} == 'OPTIONS'">
        Header set Access-Control-Allow-Origin "https://www.inolib.fr"
        Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
        Header set Access-Control-Allow-Headers "Origin, Content-Type, Accept, Authorization"
        Header set Access-Control-Max-Age "86400"
    </If>
</IfModule>
# END CORS



